* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Ensuring full height and centering */
body {
    background: rgb(191, 238, 174);
    background: radial-gradient(circle, rgba(191, 238, 174, 1) 0%, rgba(231, 148, 233, 1) 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 2em;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    background-color: white; /* Optional for better visibility */
    font-weight: bold;
    text-align: center; /* Center content within the container */
}


.container>h1 {
    text-align: center;
    margin-bottom: 1em;
}

.input {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 1em;
    margin-bottom: 1em;
}

.input>label {
    font-size: 1.3em;
    margin: 1em 0 1em .1em;
    text-align: start;
}

input {
    height: 3em;
    outline: none;
    width: 250px;
    border-radius: 1em;
    padding: 1em;
    font-size: 1em;
    border: 1px solid;
}

.input>button {
    width: 130px;
    background-color: rgb(242, 153, 247);
    font-weight: bold;
}

.profile-container {
    display: none;
    height: max-content;
    border: 1px solid;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

}

.input,
.profile-container {
    padding: inherit;
}

.details>h3 {
    margin: 0.4em 0 1em 0;
}

.image {
    padding: 1.1em;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

img {
    border-radius: 50%;
    max-width: 150px;
    border: 5px solid magenta;
}

.details {
    margin-top: 1em;
    text-align: center;
}

p,
button,
#labels {
    margin-top: 1em;
}

p>img {
    border: none;
    width: 20px;
}

#labels {
    margin: 0;
    padding: 1em 0 1em 0;
}

button {
    padding: .8em 1.1em;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid slategrey;
}

.image,
button,
details,
.profile-container {
    border-radius: 1em;
}

a {
    text-decoration: none;
    color: black;
    padding: .9em 1.2em;
    border-radius: 1em;
    margin: 1em;
    display: inline-block;
    background-color: rgb(242, 153, 247);
}

a:hover {
    background-color: rgb(254, 206, 245);
}

.active {
    display: block;
}
